<h4> Your groups </h4>
<ul>
  <% @my_groups.each do |group| %>
    <li> <%= render group %> </li> 
    <%= button_to "Leave this group", [group, GroupMembership.where(group_id: group.id, user_id: current_user.id).first], method: :delete %>
  <% end %>
</ul>

<h4> Other/joinable  groups </h4> 
<ul>
  <% @groups.each do |group| %>
    <% if !current_user.member?(group) %>
      <li> 
        <%= render group %> 
          <%= form_for [group, @group_membership] do |form| %>
          <%= form.submit "Join this group" %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

