<%= form_for @group do |form| %>
  <%= render "error_messages", target: @group %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <div>
    <%= form.label :description %>
`   <%= form.text_field :description %>
</div>

  <%= form.submit "Create group" %>
<% end %>
