<p><%= link_to "back to gallery", @image.gallery %></p>
<%= image_tag(@image.url) %>
< Likes: <%= @image.likes.count %>> 

<div>
  <% if !current_user.likes?(@image) %> 
    <%= button_to "Like this image", [@image, :like] %>
  <% else %>
    <%= button_to "Unlike this image ", [@image, :like], method: :delete %>
  <% end %>
</div>

<%= render "error_messages", target: @comment %>

<p>Tags for this image: 
  <% @image.tags.each do |tag| %>
    <%= link_to tag.name, tag %>
  <% end %>
</p>
<% if current_user == @image.gallery.user %>
  <div>
    <%= form_for [@image, @tag]  do |form| %>
      <%= form.label "Add Tag - separate multiple tags by comma(no space)"%>
      <%= form.text_field :name %>
      <%= form.submit "Tag this image" %>
    <% end %>
  </div>
  <%= form_for @image do |form| %>
   <%= form.collection_check_boxes :group_ids, @groups, :id, :name %> 
    <%= form.submit "Select group(s)" %>
  <% end %>
<% end %>

<%= form_for [@image, @comment] do |form| %>
  <%= form.text_area :text %>
  <%= form.submit "Post a comment" %>
<% end %>

<ul>
  <% @comments.each do |comment| %>
    <li> <%= comment.text %> ------------------- posted by: <span class="email"><%=comment.user.email %></span>-- <%= time_ago_in_words(comment.created_at) %> ago </li>
  <% end %>
</ul>
