<!DOCTYPE html>
<html>
<head>
  <title>Pixtr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "/", "/" %>
  <h1>Pixtr </h1>

<% if signed_in? %>
  <p> Signed in as: <span class="email"><%= current_user.email %></span></p>
  <%= button_to "SIGN OUT", :session, method: :delete %>
  <p><%= link_to "Create a new group", [:new, :group] %>
     |
    <%= link_to "Group Index", :groups %>
  </p>
<% else %>
  <% unless controller_name =="users" && action_name == "new" %>
    <%= link_to "Sign up", [:new, :user] %>
  <% end %>
  <%= link_to "Sign in", [:new, :session] %>
<% end %>

<%= yield %>

</body>
</html>
