<!DOCTYPE html>
<html>
<head>
  <title>Pixtr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "/", root_path %>
<h1>Pixtr </h1>

<% if signed_in? %>
  You are signed in as: <%= current_user.email %>
<% else %>
  <%= link_to "sign up", sign_up_path %>
  <%= link_to "sign in", sign_in_path %>
<% end %>
<%= yield %>

</body>
</html>
